*{
    
    padding: 0px;
    box-sizing: border-box;

}
 :root{
     --coolRed: rgb(254,61,62);
 }
body{
    
    background-position:center;
   background-size:cover;
    font-family: 'Roboto';
    background-image: url("../pages/images/SignUp.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0px;
}

nav {
    display: flex;
    position: sticky;
    width: 100vw;
    top: 0%;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    z-index: 1;
    font-family: 'Roboto';
    height: 70px;   
    border-bottom:0.5px solid rgb(235,235,235);padding-bottom:10px;
    
}
nav li:last-child a{
    list-style-position:inside;
    border: 5px black;  
    color: white;
   
}

.SignUpbutton{
    display: flex;
    justify-content: center; 
    
    font-size: 15px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.966);
    background-color: var(--coolRed);
    border-radius: 6px;
    border: none;
    padding: 10px;
    width: 80px;
    height: 40px;
}

.logo{
    display: flex;
    margin-left: 0px;
    height: 60px;
    padding-left: 0px;
    background-color: rgb(255, 255, 255);
    
    

}
.navLinks{
    display: flex;
    justify-content: space-around;
    width: 50%;
}   
.navLinks li{
    list-style: none;
}
.navLinks a{
    color: #151515;
    font-weight: 400px;
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;

}

a:hover{
    color: var(--coolRed);
    
}

.homeImg{
    width: 1360px;
    
    
}
.NewListing{
    font-family: 'roboto';
    font-weight: 200;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    color: var(--coolRed);
   
}
.NewListing i{
    margin-left: 5px;
    font-weight: 200;
    
}






.regform{
    width:800px;
background-color:rgb(254,61,62,0.8);
margin:auto;
color:#FFFFFF;
padding:10px 0px 10px 0px;
text-align:center;
border-radius:15px 15px 0px 0px ;
}  
.main{
background-color:rgb(71, 71, 71,0.7);
width:800px;
margin:auto;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
}

form{
padding:10px;

} 

#name{
 width:100%;
height:100px;

}  
.name{
      margin-left:25px;
margin-top:30px;
width: 125px;
      color: white;
      font-size: 18px;
      font-weight: 700;}
.firstname{
             position: relative;
 left:200px;
 top:-37px;
 line-height: 40px;
 border-radius: 6px;
 padding: 0 22px;
 font-size: 16px;
 
 }
.lastname{
       position: relative;
 left:417px;
 top:-80px;
 line-height: 40px;
 border-radius: 6px;
 padding: 0 22px;
 font-size: 16px;
 color:#555;       
            }  
.firstlabel{
      position:relative;
      color:#E5E5E5;    
text-transform: capitalize;
font-size: 14px;
left:203px;
top:-45px;
}   
.lastlabel{
      position:relative;
color:#E5E5E5;
text-transform:capitalize;
font-size:14px;
left:492px;
top:-76px;
} 
.company{
     position:relative;
left:200px;
top:-37px;
line-height: 40px;
width:480px;
  border-radius: 6px;
padding: 0 22px;
font-size: 16px;
color: #555;  }
.email{
  position:relative;
left:200px;
top:-37px;
line-height: 40px;
width:480px;
  border-radius: 6px;
padding: 0 22px;
font-size: 16px;
color: #555;  
}     

.Code{
   position:relative;
left:200px;
top:-37px;
line-height: 40px;
width:95px;
  border-radius: 6px;
padding: 0 22px;
font-size: 16px;
color: #555;  
}
.number{
   position:relative;
left:200px;
top:-37px;
line-height: 40px;
width:255px;
  border-radius: 6px;
padding: 0 22px;
font-size: 16px;
color: #555; 
}
.area-code{
      position:relative;
color:#E5E5E5;
text-transform:capitalize;
font-size:16px;
left:54px;
top:-4px;
}
.phone-number{
        position:relative;
color:#E5E5E5;
text-transform:capitalize;
font-size:16px;
left:-100px;
top:-2px;
}
.option{
   position:relative;
left:200px;
top:-37px;
line-height: 40px;
width:532px;
height:40px;
  border-radius: 6px;
padding: 0 22px;
font-size: 16px;
color: #555; 
outline:none;
overflow:hidden;
}    
.option option{
           font-size:20px;
 }
#coustomer{
          margin-left:25px;
color:white;
font-size:18px;

} 
.radio{
   display:inline-block;
padding-right:70px;
font-size:25px;
margin-left:25px;
margin-top:15px;
color:white;
}
.radio input{
        width:20px;
height:20px;
border-radius:50%;
cursor:pointer;
outline:none;
} 
button{
  background-color:rgb(254,61,62,0.9);
display:block;
margin:20px 0px 0px 20px;
text-align:center;
border-radius:12px;
border:none;
padding:14px 110px;
outline:none;
color:white;
cursor:pointer;
transition:0.25px;
} 
button:hover{
          background-color:rgb(255, 31, 31);
}  
